.containertext{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gray;
    overflow: hidden;
    background-image: url(./landscape3.jpeg);
    background-position: center;
    background-size: cover;
    .textcontainer{width:100vw; background-color: white;
    #detail{
        
        animation: movetext 6s infinite;
       
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        height:30px;
        padding-top:3px;
        
    }
}
    .textitem{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        li{
            list-style-type: none;
            margin: 3px auto;
        }
        font-family: 'Comfortaa', cursive;
        color:gray;
        opacity:0.9;
        width:33.33333333vw;
        height:50vh;
        border-top: 8px solid gray;
        border-right: 1px solid gray;
        color:white;
        background-color: rgb(87, 86, 86);
        @media only screen and (orientation: portrait){
            width:100vw;
            height : 40vh;
        }
    }
}
@keyframes animation {
    0%     {background-color:black;}
    50.0%  {background-color:white;}
    100.0%  {background-color:black;}
}
@keyframes movetext{
0%{
    transform: translateX(-100%);
}
30%{
    transform:translateX(-8%);
}
90%{
transform: translateX(0%);
}
100%{
    transform: translateX(100%);
}
}