@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}
@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}
.textcontainer {
  width: 100vw;
  background-color: white;

  #detail {
    animation: movetext 6s infinite;
    font-family: "Poppins", sans-serif;

    font-weight: 400;
    height: 30px;
    padding-top: 3px;
  }
}
.containertext {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  overflow: hidden;
  @include parallax-background("./landscape3.jpg");
  @media only screen and (orientation: portrait) {
    flex-wrap: wrap;
  }
  .textitem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
      list-style-type: none;
      margin: 3px auto;
    }
    font-family: "Comfortaa", cursive;
    color: gray;
    opacity: 0.9;
    width: 33.33333333vw;
    height: 50vh;
    margin: 0px;
    border-radius: 2px;
    color: white;
    background-color: rgb(87, 86, 86);
    @media only screen and (orientation: portrait) {
      width: 100vw;
      height: 40vh;
      margin-bottom: 2px;
    }
  }
}
@keyframes animation {
  0% {
    background-color: black;
  }
  50.0% {
    background-color: white;
  }
  100.0% {
    background-color: black;
  }
}
@keyframes movetext {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-8%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
