.hithere{
  opacity:0;
  display:inline-block;
  animation: appeartext 7s ;
  padding: 3px 5px 3px 12px;
 clip-path: polygon(10.47% 5.26%, 100.01% 5.37%, 100% 91.83%, 11.19% 92.15%, 0px 91.12%, 10.44% 71.66%, 10.46% 20.52%);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  color:grey;
  font-family: 'Dancing Script';
}
@keyframes appeartext{
  0%{
    opacity: 0;
    width:0px;
    color:rgb(255, 255, 255);
    
    
  }
  30%{
    width:82px;
    opacity:1;
    color:rgb(113, 112, 112);
  }
  100%{
    opacity: 0;
    }
  
}